<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hibiki.mapper.ApplyMapper">
    <resultMap id="applyMap" type="me.hibiki.domain.Apply">
        <!--@mbg.generated-->
        <!--@Table apply-->
        <id column="apply_id" jdbcType="BIGINT" property="applyId"/>
        <result column="apply_title" jdbcType="VARCHAR" property="applyTitle"/>
        <result column="apply_comment" jdbcType="VARCHAR" property="applyComment"/>
        <result column="user_pid" jdbcType="BIGINT" property="userPid"/>
        <result column="apply_date" jdbcType="VARCHAR" property="applyDate"/>
        <result column="apply_end_date" jdbcType="VARCHAR" property="applyEndDate"/>
        <result column="approve_comment" jdbcType="VARCHAR" property="approveComment"/>
        <result column="approve_user_pid" jdbcType="BIGINT" property="approveUserPid"/>
        <result column="apply_status" jdbcType="INTEGER" property="applyStatus"/>
    </resultMap>
    <resultMap id="applyExtentMap" type="ApplyExtend" extends="applyMap">
        <association property="user" javaType="me.hibiki.domain.User" resultMap="me.hibiki.mapper.UserMapper.userMap">
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        apply_id, apply_title, apply_comment, user_pid, apply_date, apply_end_date, approve_comment,
        approve_user_pid, apply_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="applyMap">a'w'd
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from apply
        where apply_id = #{applyId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from apply
        where apply_id = #{applyId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="apply_id" keyProperty="applyId" parameterType="me.hibiki.domain.Apply"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into apply (apply_title, apply_comment, user_pid,
        apply_date, apply_end_date, approve_comment,
        approve_user_pid, apply_status)
        values (#{applyTitle,jdbcType=VARCHAR}, #{applyComment,jdbcType=VARCHAR}, #{userPid,jdbcType=BIGINT},
        #{applyDate,jdbcType=VARCHAR}, #{applyEndDate,jdbcType=VARCHAR}, #{approveComment,jdbcType=VARCHAR},
        #{approveUserPid,jdbcType=BIGINT}, #{applyStatus,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="apply_id" keyProperty="applyId" parameterType="me.hibiki.domain.Apply"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyTitle != null">
                apply_title,
            </if>
            <if test="applyComment != null">
                apply_comment,
            </if>
            <if test="userPid != null">
                user_pid,
            </if>
            <if test="applyDate != null">
                apply_date,
            </if>
            <if test="applyEndDate != null">
                apply_end_date,
            </if>
            <if test="approveComment != null">
                approve_comment,
            </if>
            <if test="approveUserPid != null">
                approve_user_pid,
            </if>
            <if test="applyStatus != null">
                apply_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyTitle != null">
                #{applyTitle,jdbcType=VARCHAR},
            </if>
            <if test="applyComment != null">
                #{applyComment,jdbcType=VARCHAR},
            </if>
            <if test="userPid != null">
                #{userPid,jdbcType=BIGINT},
            </if>
            <if test="applyDate != null">
                #{applyDate,jdbcType=VARCHAR},
            </if>
            <if test="applyEndDate != null">
                #{applyEndDate,jdbcType=VARCHAR},
            </if>
            <if test="approveComment != null">
                #{approveComment,jdbcType=VARCHAR},
            </if>
            <if test="approveUserPid != null">
                #{approveUserPid,jdbcType=BIGINT},
            </if>
            <if test="applyStatus != null">
                #{applyStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="me.hibiki.domain.Apply">
        <!--@mbg.generated-->
        update apply
        <set>
            <if test="applyTitle != null">
                apply_title = #{applyTitle,jdbcType=VARCHAR},
            </if>
            <if test="applyComment != null">
                apply_comment = #{applyComment,jdbcType=VARCHAR},
            </if>
            <if test="userPid != null">
                user_pid = #{userPid,jdbcType=BIGINT},
            </if>
            <if test="applyDate != null">
                apply_date = #{applyDate,jdbcType=VARCHAR},
            </if>
            <if test="applyEndDate != null">
                apply_end_date = #{applyEndDate,jdbcType=VARCHAR},
            </if>
            <if test="approveComment != null">
                approve_comment = #{approveComment,jdbcType=VARCHAR},
            </if>
            <if test="approveUserPid != null">
                approve_user_pid = #{approveUserPid,jdbcType=BIGINT},
            </if>
            <if test="applyStatus != null">
                apply_status = #{applyStatus,jdbcType=INTEGER},
            </if>
        </set>
        where apply_id = #{applyId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="me.hibiki.domain.Apply">
        <!--@mbg.generated-->
        update apply
        set apply_title = #{applyTitle,jdbcType=VARCHAR},
        apply_comment = #{applyComment,jdbcType=VARCHAR},
        user_pid = #{userPid,jdbcType=BIGINT},
        apply_date = #{applyDate,jdbcType=VARCHAR},
        apply_end_date = #{applyEndDate,jdbcType=VARCHAR},
        approve_comment = #{approveComment,jdbcType=VARCHAR},
        approve_user_pid = #{approveUserPid,jdbcType=BIGINT},
        apply_status = #{applyStatus,jdbcType=INTEGER}
        where apply_id = #{applyId,jdbcType=BIGINT}
    </update>
    <select id="listApplyForApprove" resultMap="applyExtentMap">
    select a.*,u.* from apply a left join user u on a.user_pid = u.user_id where a.apply_end_date is null order by a.apply_id desc
  </select>
    <select id="getApplyExtendById" resultMap="applyExtentMap">
    select a.*,u.* from apply a left join user u on a.user_pid = u.user_id where a.apply_id = #{applyId,jdbcType=BIGINT}
  </select>
    <select id="listByUserPidApply" resultMap="applyExtentMap">
      select a.*,u.* from apply a left join user u on a.user_pid = u.user_id where user_pid=#{userPid,jdbcType=BIGINT} order by a.apply_id desc
    </select>

</mapper>