<!DOCTYPE html>
<html>
<head>
    <meta content="IE=11.0000" http-equiv="X-UA-Compatible">
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Custom Theme">
    <title>小莱信息化管理系统登录</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
</head>
<body class="login-screen">
<div class="container">
    <form class="form-signin" method="post" action="login">
        <h2 class="form-signin-heading">小莱信息化管理系统登录</h2>
        <div class="login-wrap">
            <input class="form-control" id="username" name="username" type="text" placeholder="登录用户名" autofocus>
            <input class="form-control" id="password" name="password" type="password" placeholder="登录密码">
            <button class="btn btn-lg btn-login btn-block" id="login_but1" type="submit">登录</button>
            <p class="l_message" style="color: red;"></p>
        </div>
    </form>
</div>
<script src="js/jquery-3.5.0.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>