<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>小莱信息化管理系统</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <style>
        div.page-header{
            margin: 0;
        }
        ol.breadcrumb{
            background-color: white;
            margin: 0;
        }
        a{
            color: black;
        }
        a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container-fluid">

        <div class="page-header row">
            <h1>小莱信息化管理系统</h1>
        </div>

    <div class="row">
        <ul class="nav nav-pills nav-stacked col-xs-2">
            <li role="presentation" class="active"><a href="#">主页</a></li>
            <li role="presentation"><a href="user/manage">用户管理</a></li>
            <li role="presentation"><a href="dept/manage">部门管理</a></li>
            <li role="presentation"><a href="apply/manage">我的申请</a></li>
        </ul>
        <ol class="breadcrumb col-xs-10">
            <li>主页</li>
            <li class="active">欢迎页面</li>
        </ol>
        <div id="box" class="jumbotron col-xs-10">
            <div>欢迎来到小莱管理系统</div>
        </div>
    </div>

</div>
<script src="../js/jquery-3.5.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>