<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-xs-12">
            <li id="index" role="presentation"><a href="#">主页</a></li>
            <li id="user" role="presentation"><a href="#">用户管理</a></li>
            <li id="dept" role="presentation"><a href="#">部门管理</a></li>
            <li id="apply" role="presentation"><a href="#">我的申请</a></li>
        </ul>
    </div>
</div>
<script src="../js/jquery-3.5.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script>
    var contextPath = "/informatization_war_exploded/";
    $(function () {
        //通过地址栏链接判断当前在哪个页面莱添加菜单项样式
        if (parent.location.href.lastIndexOf("index") > -1) {
            $("ul.nav>li[id=index]").addClass("active");
        } else if (parent.location.href.lastIndexOf("user") > -1) {
            $("ul.nav>li[id=user]").addClass("active");
        } else if (parent.location.href.lastIndexOf("dept") > -1) {
            $("ul.nav>li[id=dept]").addClass("active");
        } else if (parent.location.href.lastIndexOf("apply") > -1) {
            $("ul.nav>li[id=apply]").addClass("active");
        }
        //菜单项迪纳基时间
        $("ul.nav >li").each(function () {
            $(this).click(function () {
                switch ($(this).attr("id")) {
                    case "index":
                        parent.location.href = contextPath + "admin/index";
                        break;
                    case "user":
                        parent.location.href = contextPath + "admin/user/manage";
                        break;
                    case "dept":
                        parent.location.href = contextPath + "admin/dept/manage";
                        break;
                    case "apply":
                        parent.location.href = contextPath + "admin/apply/manage";
                        break;

                }

            })

        })

    })
</script>
</body>
</html>